/* Table Header text-style */
.table-header {
  i {
    color: $header-Icon;
    font-size: $tableIcon;
  }
  h2 {
    color: $header-H2;
    font-size: $tableHeadline;
    font-weight: 500;
    font-size: 1.6rem;
  }
  .range {
    font-size: 1.4rem;
    color: $viewingRange;
    opacity: 0.5;
  }
}
/* -------------------- */

/* Stats p and icon element */
.stats {
  p {
    color: $stats-P;
    font-size: $tableP;
  }
  i {
    color: $stats-I;
    font-size: $tableContentIcon;
  }
}
/* -------------------- */

/* Hash links */
.hash-a {
  text-decoration: none;
  font-size: $hash-a-links;
  color: $hashLinks;
  cursor: pointer;
  word-wrap: break-word;
  word-break: break-all;

}
.hash-a:hover {
  color: $hashHover;
  opacity: 0.5;
}
.stats-dark {
  font-size: $stats-dark-p;
  color: $statsDark;
  opacity: 0.5;
}
/* -------------------- */

/* recent blocks */
.numb {
  background: $blockBtn;
  border-left: 0.5px solid $dark;
  p {
    color: $no;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.btn {
  display: flex;
  border: none;
  border-right: 0.5px solid $dark;
  border-left: 0.5px solid $dark;
  background: $blockBtn;
  color: $btnText;
  font-family: $fontFamily;
  font-size: 1.6rem;
  font-weight: 500;
  i {
    color: $btnIcon;
    font-size: 1.6rem;
  }
}

.btn:hover {
  background: $btnHover;
  color: $textHover;
  i {
    color: $textHover;
  }
}
/* -------------------- */

/* info texts */
.info-text {
  background: $dark;
  color: $white;
  p {
    font-size: 1.4rem;
  }
}

/* CHECK TXN PAGE */
.checkTxn-label {
  font-size: $checkTXN-labels;
  opacity: 0.75;
}

@media only screen and (max-width: 700px) {

  .table-header {
    h2 {
      font-size: 1.2rem;
  }

  i {
    font-size: 1.2rem;
  }

  .range {
    font-size: 1.2rem;
  }
}



}


