.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}


// animation
.pop {
  transition: ease-in-out;
  transition-duration: 0.2s;
}

.pop:hover {
  transform: scale(1.1);
}
