$white: #d1d0d0;
$black: #171416;
$dark: #272527;
$grey: #383638;
$orange: #e9832a;
$blue: #22c7fc;

$boxShadow: 2px 2px 20px rgba(0, 0, 0, 0.75);

$fontFamily: "Share Tech Mono", monospace;

/* Header */
$searchBTNbg: $grey;
$searchBTN: $white;
$placeholder: $white;
$headerBorder: $white;
$menuHover: $grey;

/* Table headers */
$tableHeader: $dark;
$header-Icon: $white;
$header-H2: $white;
$viewingRange: $white;

/* table background */
$tablebg: $black;

/* Stats */
$stats-P: $white;
$stats-I: $white;
$statsDark: $white;

/* Hash links */
$hashLinks: $white;
$hashHover: $grey;

/* Recent blocks */
$blockBtn: $grey;
$btnText: $white;
$btnIcon: $white;
$btnHover: $dark;
$textHover: $grey;
$no: $white;
