$white: #d1d0d0;
$black: #171416;
$dark: #272527;
$grey: #383638;
$orange: #e9832a;
$blue: #22c7fc;

$boxShadow: 2px 2px 20px rgba(0, 0, 0, 0.75);

$fontFamily: "Share Tech Mono", monospace;

/* Header */
$searchBTNbg: $grey;
$searchBTN: $white;
$placeholder: $white;
$headerBorder: $white;
$menu: $white;
$menuHover: $white;

/* Table headers */
$tableHeader: $dark;
$header-Icon: $white;
$header-H2: $white;
$viewingRange: $white;

/* table background */
$tablebg: $black;

/* Stats */
$stats-P: $white;
$stats-I: $white;
$statsDark: $white;

/* Hash links */
$hashLinks: $white;
$hashHover: $white;

/* Recent blocks */
$blockBtn: $grey;
$btnText: $white;
$btnIcon: $white;
$btnHover: $dark;
$textHover: $white;
$no: $white;

/* font-size */

$tableIcon: 1.4rem;
$tableHeadline: 1.8rem;
$tableP: 1.4rem;
$tableContentIcon: 1.2rem;
$stats-dark-p: 1.4rem;
$hash-a-links: 1.4rem;

/* CHECK TXN VIEW */
$checkTxnHeadline: 2.2rem;
$checkTxn-Icon: 2.2rem;
$checkTXN-labels: 1.6rem;


